.profile__jacques-cousteau {
  /* width: 100%;
  max-width: 120px; */
  width: 120px;
  border-radius: 50%;
  grid-column: 1/2;
}

@media screen and (min-device-width: 320px) and (max-device-width: 767px) {
  .profile__jacques-cousteau {
    margin: auto;
  }
}
