.form__work {
  margin-bottom: 48px;
  outline: none;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

@media screen and (min-device-width: 320px) and (max-device-width: 767px) {
  .form__work {
    max-width: 238px;
    margin: auto;
  }
}