.popup__close {
  width: 32px;
  position: absolute;
  top: -36px;
  right: -36px;
}

.popup__close:hover {
  opacity: 0.6;
}

@media screen and (min-device-width: 320px) and (max-device-width: 767px) {
  .popup__close {
    width: 26px;
  }
}
