.form__desk {
  width: 358px;
  height: 194px;
  /* padding-bottom: 21px; */
  margin: 0 auto 10px;
  border: none;
  outline: none;
  display: flex;
  flex-direction: column;
}

@media screen and (min-device-width: 320px) and (max-device-width: 767px) {
  .form__desk {
    width: 88%;
  }
}