.element__info {
    width: 100%;
    max-width: 246px;
    margin: 21px 15px 25px 21px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}
@media screen and (min-device-width: 320px) and (max-device-width: 767px) {
    .element__info {
        min-width: 246px;
    }
}