.element {
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  background-color: #FFFFFF;
  border-radius: 10px 10px 10px 10px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .element {
    margin: auto;
  }
}
